##### AusBioTech data processing

In [26]:
import pandas as pd
import numpy as np
import chardet
from geopy.geocoders import Nominatim
import time

##### Load datasets

In [19]:
import chardet
import pandas as pd

file_path = r'C:\Users\guino\OneDrive\Documents\GitHub\ausbio_streamlit_LLM\data\Advanced Therapies directory 100424.csv'

try:
    # Detect the encoding of the original file
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read())

    detected_encoding = result['encoding']
    print(f"Detected encoding: {detected_encoding}")

    # Read the CSV file with the detected encoding
    bioTech_noAddress = pd.read_csv(file_path, encoding=detected_encoding)

    # Replace problematic characters
    bioTech_noAddress = bioTech_noAddress.applymap(lambda x: x.replace('Ã¯Â¿Â½', '') if isinstance(x, str) else x)

    # Remove leading and trailing white spaces from all string columns
    bioTech_noAddress = bioTech_noAddress.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

except FileNotFoundError:
    print(f"Error: The file at {file_path} was not found. Please check the file path and try again.")

Detected encoding: utf-8

C:\Users\guino\AppData\Local\Temp\ipykernel_8296\364103054.py:18: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  bioTech_noAddress = bioTech_noAddress.applymap(lambda x: x.replace('Ã¯Â¿Â½', '') if isinstance(x, str) else x)

In [20]:
import chardet
import pandas as pd

file_path = r'C:\Users\guino\OneDrive\Documents\GitHub\ausbio_streamlit_LLM\data\AusBiotech_companies.csv'

try:
    # Detect the encoding of the original file
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read())

    detected_encoding = result['encoding']
    print(f"Detected encoding: {detected_encoding}")

    # Read the CSV file with the detected encoding
    bioTech_Address = pd.read_csv(file_path, encoding=detected_encoding)

    # Replace problematic characters
    bioTech_Address = bioTech_Address.applymap(lambda x: x.replace('Ã¯Â¿Â½', '') if isinstance(x, str) else x)

    # Remove leading and trailing white spaces from all string columns
    bioTech_Address = bioTech_Address.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

except FileNotFoundError:
    print(f"Error: The file at {file_path} was not found. Please check the file path and try again.")

Detected encoding: utf-8

C:\Users\guino\AppData\Local\Temp\ipykernel_8296\3788160996.py:18: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  bioTech_Address = bioTech_Address.applymap(lambda x: x.replace('Ã¯Â¿Â½', '') if isinstance(x, str) else x)

##### Combine datasets

In [21]:
# Concatenate DataFrames along rows
bioTech_data = pd.concat([bioTech_noAddress, bioTech_Address], axis=0)
bioTech_data.head()

,Category,Companies,Description,Website1,Location,Contact 1,Contact 2,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Companies_full,Website2,Unnamed: 4
0,Companies developing Advanced Medicines,AdAlta,CAR T,https://adalta.com.au/,Melbourne,NaN,Tim Oldham,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Companies developing Advanced Medicines,Algorae Pharmaceuticals (formerly Living Cell ...,alginate encapsulated neonatal porcine choroi...,https://algoraepharma.com/,Melbourne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Companies developing Advanced Medicines,Arovella,iNKT cell therapy,https://www.arovella.com/,Melbourne,NaN,Nicole van der Weerden,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Companies developing Advanced Medicines,Australian Foundation for Diabetes Research,medical device containing Kadimastem produced ...,NaN,Sydney,NaN,Bernie Tuch,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Companies developing Advanced Medicines,BioNTech,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Display the original columns
print(bioTech_data.columns)

# Delete the 8th to 10th columns (indices 7 to 9) and the 14th column (index 13) if they exist
columns_to_drop = [col for col in list(range(7, 11)) + [13] if col < len(bioTech_data.columns)]
bioTech_data = bioTech_data.drop(bioTech_data.columns[columns_to_drop], axis=1)

# Display the remaining columns
print(bioTech_data.columns)

Index(['Category', 'Companies', 'Description', 'Website1', 'Location',
       'Contact 1', 'Contact 2', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Companies_full', 'Website2', 'Unnamed: 4'],
      dtype='object')
Index(['Category', 'Companies', 'Description', 'Website1', 'Location',
       'Contact 1', 'Contact 2', 'Companies_full', 'Website2'],
      dtype='object')

In [23]:
# Sort the DataFrame by the 'Companies' column
bioTech_data_sorted = bioTech_data.sort_values(by='Companies')

# Display the first few rows of the sorted DataFrame
bioTech_data_sorted.head()

,Category,Companies,Description,Website1,Location,Contact 1,Contact 2,Companies_full,Website2
0,NaN,360biolabs Pty Ltd,NaN,NaN,"85 Commercial Road, Melbourne, VIC, 3004",NaN,NaN,360biolabs Pty Ltd,http://www.360biolabs.com/
79,INTERNATIONAL BUT KNOWN TO SPONSOR,ABER Instruments,viable cell density in bioreactor,https://aberinstruments.com/biotech/,NaN,NaN,David Anderson,NaN,NaN
80,INTERNATIONAL BUT KNOWN TO SPONSOR,ACRO Biosystems,"recombinant proteins, media, cytokines, PK, QC...",https://www.acrobiosystems.com/,NaN,NaN,Spencer Chiang,NaN,NaN
305,Government representatives,ACT,NaN,Federal Department of Health and Aged Care,NaN,Technology Assessment & Access,David Laffan,NaN,NaN
306,Government representatives,ACT,NaN,"Department of Industry, Science, Energy and Re...",NaN,"Deputy Secretary, Industry and Commercialisation",Julia Pickworth,NaN,NaN

In [24]:
# Handle special characters (optional)
# Replace problematic characters
bioTech_data = bioTech_data.applymap(lambda x: x.replace('ï¿½', '') if isinstance(x, str) else x)

C:\Users\guino\AppData\Local\Temp\ipykernel_8296\1466272465.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  bioTech_data = bioTech_data.applymap(lambda x: x.replace('ï¿½', '') if isinstance(x, str) else x)

In [27]:
# Load csv file
file_path = r'C:\Users\guino\OneDrive\Documents\GitHub\ausbio_streamlit_LLM\data\bioTech_data.csv'
bioTech_data = pd.read_csv(file_path)

# Initialize the geolocator
geolocator = Nominatim(user_agent="geoapiExercises")

# Function to get latitude and longitude
def get_geolocation(address):
    try:
        location = geolocator.geocode(address)
        if location:
            return location.latitude, location.longitude
        else:
            return None, None
    except Exception as e:
        print(f"Error: {e}")
        return None, None

# Apply the function to the Location column
bioTech_data['Latitude'], bioTech_data['Longitude'] = zip(*bioTech_data['Location'].apply(get_geolocation))

# Display the DataFrame with new columns
bioTech_data.head()

Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Level+9%2C+31+Queen+St%2C+Melbourne+VIC+3000%2C+Australia&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Level+2%2C+700+Swanston+Street%2C+Carlton+Victoria+3053%2C+Australia&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Suite+3.3%2C+56+Delhi+Road%2C+North+Ryde+NSW+2113%2C+Australia&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=85+Commercial+Road%2C+Melbourne%2C+Victoria+3004%2C+Australia&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Level+20%2C+100+William+Street%2C+Sydney%2C+NSW%2C+2011%2C+Australia&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=100+King+William+Street%2C+Adelaide+SA+5000%2C+Australia&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=No.+5%2C+Zhongxiao+E+Rd%2C+Zhongzheng+District%2C+Taipei+City%2C+Taiwan+100&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Suite+12.01%2C+Level+12%2C+4-6+Bligh+Street%2C+SYDNEY%2C+NSW+2000+AUSTRALIA&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=41+Science+Park+Road%2C+%2301-29+The+Gemini%2C+Singapore+Science+Park+II%2C+Singapore+117610%2C+Republic+of+Singapore&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Level+49%2C+101+Collins+St%2C+Melbourne+VIC+3000&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=17%2F31+Queen+St%2C+Melbourne+VIC+3000%2C+Australia&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=16%2F70+Franklin+St%2C+Adelaide+SA+5000&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=The+University+of+Melbourne%2C+Grattan+Street%2C+Parkville%2C+Victoria%2C+3010%2C+Australia&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: Non-successful status code 403
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=UNSW+Sydney%2C+High+St%2C+Kensington+NSW+2052+Australia&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=nan&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=47+Thorndike+St+Suite+B1-1%2C+Cambridge+MA+02141+United+States&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=240+MacArthur+Avenue%2C+Hamilton+QLD+4007+Australia&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Level+3%2C+11+Julius+Avenue%2C+North+Ryde+NSW+2113+Australia&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Kasernenstrasse+11%2C+8004+Zurich+Switzerland&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Vetter+Pharma+International+GmbH+Singapore+Branch+50+Raffles+Place+Level+30-01+Singapore+Land+Tower+048623+Singapore&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=nan&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Level+1%2C+30+The+Bond%2C+30-34+Hickson+Road%2C+Millers+Point+NSW+2000&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=nan&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=nan&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: Non-successful status code 503
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=nan&format=json&limit=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x000002B24878EB10>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)'))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=nan&format=json&limit=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x000002B24878F3E0>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)'))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=nan&format=json&limit=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x000002B2375ADBB0>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)'))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=nan&format=json&limit=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x000002B247B7A390>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)'))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Level+20%2C+1+Castlereagh+Street%2C+Sydney%2C+NSW+2000&format=json&limit=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x000002B2487BDA90>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)'))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Level+20%2C+600+Bourke+Street+Melbourne%2C+VIC+3000&format=json&limit=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x000002B2487FC350>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)'))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Level+7%2C+863+Hay+Street%2C+Perth+WA+6000&format=json&limit=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x000002B2487FD8B0>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)'))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=78+North+Terrace%2C+Kent+Town%2C+SA+5067&format=json&limit=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x000002B24878ECF0>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)'))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Level+7%2C+33+King+William+St%2C+Adelaide+5000%2C+South+Australia&format=json&limit=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x000002B2487FDD60>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)'))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=15+Lum+St%2C+Export+Park%2C+SA+5950&format=json&limit=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x000002B2487BEE10>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)'))

,Category,Companies,Description,Website1,Location,City,Contact 1,Contact 2,Companies_full,Website2,Latitude,Longitude
0,NaN,360biolabs Pty Ltd,NaN,NaN,"85 Commercial Road, Melbourne, VIC, 3004",Melbourne,NaN,NaN,360biolabs Pty Ltd,http://www.360biolabs.com/,-37.845199,144.981047
1,NaN,360biolabs Pty Ltd,NaN,NaN,"37 Kent St, Woolloongabba, QLD, 4102",Brisbane,NaN,NaN,360biolabs Pty Ltd,NaN,-27.498964,153.031638
2,NaN,Abacus dx Pty Ltd,NaN,NaN,"34 Corporate Drive, Cannon Hill, QLD, 4170",Brisbane,NaN,NaN,Abacus dx Pty Ltd,https://www.abacusdx.com/,-27.467470,153.090505
3,NaN,Abacus dx Pty Ltd,NaN,NaN,"Unit B, 30 Vestey Drive, Mt Wellington, Auckla...",Auckland,NaN,NaN,Abacus dx Pty Ltd,NaN,NaN,NaN
4,NaN,AbCellera,NaN,NaN,"2215 Yukon Street, Vancouver, BC V5Y 0A1",Vancouver,NaN,NaN,AbCellera,https://www.abcellera.com/,NaN,NaN

In [30]:
# Step 4: Write the DataFrame to a CSV file with UTF-8 encoding
bioTech_data.to_csv(r'C:\Users\guino\OneDrive\Documents\GitHub\ausbio_streamlit_LLM\data\bioTech_data.csv', encoding='utf-8', index=False)